@charset "utf-8";
/* CSS Document */
body{
    font-family: 'Times New Roman';
 background:grey;
}
h1 {
    font-style: italic;
}
#links{
    color:blue
}
#contact{
    font-family:italic;
}