@charset "utf-8";
/* CSS Document */
header,footer{
	background:grey;
}
h1 {
    font-style: italic;
}
a:hover{
    color:white;
}
a:visited{
    color:coral;
}	
.content-wrap{
	max-width:950;
	margin:0;
}